<div class="container mt-4">
    <h1>About Us</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus gravida tortor et neque pharetra, at faucibus
        sapien ultricies. Proin eget rhoncus justo. Nulla facilisi. Suspendisse bibendum tellus sit amet lorem venenatis
        fermentum.</p>
    <p>Quisque vestibulum tortor eu luctus rutrum. Integer consectetur vestibulum tortor. Sed feugiat, erat vel lacinia
        egestas, nisi dolor venenatis neque, eget ultricies lorem purus a orci.</p>
</div>